<main class="container">
  <h1 class="contents__title">보도자료</h1>
  <div class="input__box">
    <form action="#">
      <input type="text" placeholder="검색하기">
      <button class="btn-search">
        <span class="blind">검색</span>
      </button>
    </form>
  </div>
  <div class="contents">
    <ul class="contents__list">
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
      <li class="contents__item">
        <a class="contents__link" href="javascript:void(0);">
          <div class="contents__img">image</div>
          <div class="contents__txt">
            <span class="txt-wrap">
              <span class="category">카테고리</span>
              <span class="title">타이틀</span>
            </span>
            <span class="date">2024.07.05</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</main>